

.contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 600px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #8ca8af;
    height: 70px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #8ca8af;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #00060b;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #010910;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #000408;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color: #180611;
    box-shadow: inset 0 1px 1px rgb(255,102,203), 0 0 8px rgb(255,102,203);
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #000306;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #040002;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: rgb(255,102,203);
  }
  